
    <div id="login">
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form (submit)="register()" id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Register</h3>
                            <p class="lead">Already a member? Please <a routerLink="/login">login</a> instead.</p>
                            <div class="form-group">
                                <label for="username" class="text-info">Full name:</label><br>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Enter your name" [(ngModel)]="credentials.name">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Email address:</label><br>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" [(ngModel)]="credentials.email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="credentials.password">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

